<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="page">

    <div class="drugofilter page__drugofilter">

      <div class="drugofilter-header">
        <div class="drugofilter-header__title">Выберите друзей</div>
        <div class="drugofilter-header__close"></div>
      </div>

      <div class="drugofilter-search">
        <input type="text" class="drugofilter-input" placeholder="Начните вводить имя друга">
        <input type="text" class="drugofilter-input" placeholder="Начните вводить имя друга">
      </div>

      <div class="drugofilter__list-friends">

        <div class="list-friends list-friends_left">
          <div class="list-friends__title">Ваши друзья</div>
          <div class="list-friends__scroll scroll"></div>

          <div class="friend">
            <div class="friend__info">
              <div class="friend__img" style="background-image: url('img/artem.png');"></div>
              <div class="friend__name">Артем Барабанов</div>
            </div>
            <div class="friend__plus"></div>
          </div>
          
        </div>

        <div class="list-friends list-friends_right">
          <div class="list-friends__title">Друзья в списке</div>
          <div class="list-friends__scroll scroll"></div>

          <div class="friend friend_active">
            <div class="friend__info">
              <div class="friend__img" style="background-image: url('/img/artem.png');"></div>
              <div class="friend__name">Артем Барабанов</div>
            </div>
            <div class="friend__close"></div>
          </div>

        </div><!-- End drugofilter -->

      </div><!-- End drugofilter-list-friends -->

      <div class="drugofilter__footer footer">
        <button class="btn-save">Сохранить</button>
      </div>

    </div><!-- End drugofilter -->
  
  </div><!-- End page -->

</body>
</html>
